<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h4>{{assignment.name}}</h4>
		  	<div class="panel-body"><b>Description: </b>{{assignment.description}}</div>
		</div>
	</div>
</div>
