<div class="container resources">
	<div class="row">
		<div class="col-md-2">
	            <p><a href="/resources/tableau" class="btn btn-primary" role="button">Tableau</a></p>
			  <p><a href="/resources/alteryx" class="btn btn-primary" role="button">Alteryx</a></p>
			  <p><a href="/resources/sql" class="btn btn-primary" role="button">Sql</a></p>
		</div>
		<div id="vizContainer" class="col-sm-6 col-md-10"></div>
	</div>
</div>


<script type="text/javascript">
  function initViz() {
	  var containerDiv = document.getElementById("vizContainer"),
		  //url = "",
		  url = "{{{targetViz}}}",
		  options = {
			  hideTabs: true,
			  onFirstInteractive: function() {
				  console.log("Run this code when the viz has finished loading.");
			  }
		  };

	  var viz = new tableau.Viz(containerDiv, url, options);
	  // Create a viz object and embed it in the container div.
  }
  </script>
