<div class="container">


<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="thumbnail">
	 <h3>2019 Schedule</h3>
      <img src="../images/training.PNG" alt="...">
      <div class="caption">
        <p><a href="#" class="btn btn-primary" role="button">Sign Up</a> <a href="#" class="btn btn-default" role="button">View Details</a></p>
      </div>
    </div>
  </div>
</div>
</div>
