<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-2 ">
			<ul class="nav nav-pills nav-stacked">
			  <li role="presentation" class="active"><a href="#">Revenue</a></li>
			  <li role="presentation"><a href="#">Yield</a></li>
			  <li role="presentation"><a href="#">Bookings</a></li>
			</ul>
		</div>

		<div id="vizContainer" class="col-sm-6 col-md-10"></div>

</div>
