#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.request-feedback{
	text-align: center;
}

.logo-horizontal{
	background: url('../images/logo-vertical.png') 50% 100px no-repeat fixed;
  	background-size: cover;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}

//main menu


.navbar-default .navbar-brand {
	color: $copa-blue;

}
.navbar-default .navbar-nav > li > a {
	color: $copa-blue;

}
.landing-logo{
	max-width: 70%;
	margin: auto;
}
.user-name{
	//border-right: 0.5px solid #e7e7e7;
}
.request-description{
	resize: none;
	height: 200px !important;
	margin-bottom: 20px;
}

.alert-success {
    text-align: center;
}

.request-form{
	//text-align: center;
}

.assigned-team{
	display: none;
}
