#header {
	margin-top: 30px;
}

#footer {
	border-top: 1px solid #eeeeee;
	padding: 5px;
	color: #777777;
	width: 100%;
}

#body{
	height: 100%;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}



.logo-horizontal{
	background: url('../images/logo-vertical.png') 50% 100px no-repeat fixed;
  	background-size: cover;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}

//main menu


.navbar-default .navbar-brand {
	color: $copa-blue;
	background: url('../images/ACE-short-blue.png') no-repeat right top;
  	background-size: contain;
	padding-right: 135px;
	padding: 30px 50px;
	width: 170px;
}
.navbar-default .navbar-nav > li > a {
	color: $copa-blue;
}
.navbar-left{
	a{
		height: 60px;
	}
}
.landing-logo{
	max-width: 40%;
	margin: auto;
}
.user-name{
	//border-right: 0.5px solid #e7e7e7;
}
.request-description{
	resize: none;
	height: 200px !important;
	margin-bottom: 20px;
}

.alert-success {
    text-align: center;
}

.request-form{
	//text-align: center;
	img{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}

.request-feedback{
	text-align: center;
	margin-top: 2% !important;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.assigned-team{
	display: none;
}

/*** styles for search form  **/
.wiki-search{
	padding-bottom: 3%;
}


iframe{
	min-height: 200px !important;
}

.panel-default {
    border-color: #fff;

}
html,body, .ace-lading {height:100%;}

.landing {
  background: url('../images/stars-bg-01.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  position: relative;
  .ace-caption{
	  padding-left: 30%;
	  padding-right: 10px;
	  width: 100%;
	  height: 100%;
	  text-align: right;
	  color: #fff;
	  @media screen and (min-width: 1200px) {
		  padding-left: 78%;
	  }
  }



}
.about{
	p, li{
	    color: #676262;
	}
	h3{
		color: #0060a9;
	}
	.area:last-child{
		padding-bottom: 100px;
	}
	.area{
		text-align: center;
		li{
			text-align: left;
		}

	}
}

.training{
	background: url('../images/training.PNG') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	position: relative;
}
